name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/apps/uwuallet

            export GIT_SSH_COMMAND="ssh -i ~/.ssh/id_ed25519_uwuallet.com"
            export NVM_DIR="$HOME/.nvm"

            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

            git pull

            npm i --legacy-peer-deps

            npm run build

            pm2 restart uwuallet

            npm prune --production --legacy-peer-deps
